{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculator App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'calculatorapp/style.css' %}">
  </head>
  <body class="bg-light" style="width:100%;margin:0 auto;">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="margin: 0 auto;color:white;">Calculator App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
        </div>
      </nav>
      <form method="GET" action="{% url 'submit' %}" id="calculator-form">
        <div class="container-fluid" style="justify-content:center;display:flex;">
            <div class="card" style="margin-top:2rem;">
                <div class="card-body">
                    {% if error%}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong style="text-align:center;">Error</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="close-button"></button>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <textarea class="form-control" style="height:80px;margin-bottom:1rem;" name="display" id="display" readonly>{{query}}&#13;&#10;{{ ans }}</textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="bracket1()">(</button>
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="bracket2()">)</button>
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="modulus()">%</button>
                        <button type="button" class="btn btn-secondary btn-calculator" id="reset-button">C</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="seven()">7</button>
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="eight()">8</button>
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="nine()">9</button>
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="division()">÷</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="four()">4</button>
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="five()">5</button>
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="six()">6</button>
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="multiply()">×</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="one()">1</button>
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="two()">2</button>
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="three()">3</button>
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="subtract()">-</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="zero()">0</button>
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="point()">.</button>
                        <button type="submit" class="btn btn-secondary btn-calculator">=</button>
                        <button type="button" class="btn btn-secondary btn-calculator" onclick="add()">+</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>

<script>
    const resetButton = document.getElementById('reset-button');
    const inputField = document.getElementById('display');

    resetButton.addEventListener('click', () => {
    inputField.value = "";
    window.location.href = "/";
    });
    const closeButton = document.getElementById('close-button');
    closeButton.addEventListener('click', () => {
        inputField.value = "";
        window.location.href = "/";
        });


    function clear(){
        var inputField=document.getElementById("display");
        inputfield.value="";
    }
    function bracket1(){
        var inputField=document.getElementById("display");
        var text="(";
        inputField.value+=text;
    }

    function bracket2(){
        var inputField=document.getElementById("display");
        var text=")";
        inputField.value+=text;
    }
    function modulus(){
        var inputField=document.getElementById("display");
        var text="%";
        inputField.value+=text;
    }
    function seven(){
        var inputField=document.getElementById("display");
        var text="7";
        inputField.value+=text;
    }
    function eight(){
        var inputField=document.getElementById("display");
        var text="8";
        inputField.value+=text;
    }
    function nine(){
        var inputField=document.getElementById("display");
        var text="9";
        inputField.value+=text;
    }
    function division(){
        var inputField=document.getElementById("display");
        var text="/";
        inputField.value+=text;
    }
    function four(){
        var inputField=document.getElementById("display");
        var text="4";
        inputField.value+=text;
    }
    function five(){
        var inputField=document.getElementById("display");
        var text="5";
        inputField.value+=text;
    }
    function six(){
        var inputField=document.getElementById("display");
        var text="6";
        inputField.value+=text;
    }
    function multiply(){
        var inputField=document.getElementById("display");
        var text="*";
        inputField.value+=text;
    }
    function one(){
        var inputField=document.getElementById("display");
        var text="1";
        inputField.value+=text;
    }
    function two(){
        var inputField=document.getElementById("display");
        var text="2";
        inputField.value+=text;
    }
    function three(){
        var inputField=document.getElementById("display");
        var text="3";
        inputField.value+=text;
    }
    function subtract(){
        var inputField=document.getElementById("display");
        var text="-";
        inputField.value+=text;
    }
    function zero(){
        var inputField=document.getElementById("display");
        var text="0";
        inputField.value+=text;
    }
    function point(){
        var inputField=document.getElementById("display");
        var text=".";
        inputField.value+=text;
    }
    function add(){
        var inputField=document.getElementById("display");
        var text="+";
        inputField.value+=text;
    }
</script>



</body>
</html>